![title](Header__0009_1.png "Header")
___
# Chapter 1 - Data Munging Basics
## Segment 5 - Grouping and data aggregation

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Grouping data by column index

In [3]:
cars = pd.read_csv(r'E:\Lambton\CBD 2214_2 Big data Fundamental Data Storage Networking\week 1\mtcars.csv')

cars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4
1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4
2,Datsun 710,NaN,4,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1
3,Hornet 4 Drive,21.4,6,258.0,NaN,3.08,3.215,19.44,1.0,0.0,3.0,1
4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0.0,0.0,NaN,2

In [4]:
cars.head(2)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.9,2.620,16.46,0.0,1.0,4.0,4
1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.9,2.875,17.02,0.0,1.0,4.0,4

In [5]:
cars.columns = ['vichle_names','mpg','cyl','disp', 'hp', 'drat', 'wt', 'qsec', 'v_Shape', 'am', 'gear', 'carb']

In [6]:
cars.head(3)

,vichle_names,mpg,cyl,disp,hp,drat,wt,qsec,v_Shape,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4
1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4
2,Datsun 710,NaN,4,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1

In [7]:
# import cars table into a dataframe named DF
DF=pd.DataFrame(cars)

In [8]:
DF.head()

,vichle_names,mpg,cyl,disp,hp,drat,wt,qsec,v_Shape,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4
1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4
2,Datsun 710,NaN,4,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1
3,Hornet 4 Drive,21.4,6,258.0,NaN,3.08,3.215,19.44,1.0,0.0,3.0,1
4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0.0,0.0,NaN,2

In [9]:
#what is the shape of your data frame
DF.shape

(32, 12)

In [10]:
#Describe the data frame
DF.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,v_Shape,am,gear,carb
count,30.000000,32.000000,32.000000,31.000000,31.000000,32.000000,29.000000,30.000000,28.000000,29.000000,32.0000
mean,20.076667,6.187500,230.721875,147.870968,3.609032,3.217250,17.601379,0.433333,0.428571,3.724138,2.8125
std,6.196366,1.785922,123.938694,69.363171,0.538766,0.978457,1.535459,0.504007,0.503953,0.751026,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.275000,4.000000,120.825000,96.000000,3.080000,2.581250,16.870000,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.700000,3.325000,17.420000,0.000000,0.000000,4.000000,2.0000
75%,22.475000,8.000000,326.000000,180.000000,3.920000,3.610000,18.610000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,20.010000,1.000000,1.000000,5.000000,8.0000

In [11]:
cars.columns

Index(['vichle_names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec',
       'v_Shape', 'am', 'gear', 'carb'],
      dtype='object')

In [12]:
cars.isnull().sum()

vichle_names    0
mpg             2
cyl             0
disp            0
hp              1
drat            1
wt              0
qsec            3
v_Shape         2
am              4
gear            3
carb            0
dtype: int64

In [13]:
#Replace the NAN values with mean
for column_name,value in cars.iteritems():
    if column_name != "vichle_names":
        cars[column_name] = cars[column_name].fillna(cars[column_name].mean())

AttributeError: 'DataFrame' object has no attribute 'iteritems'

In [ ]:
#Replace the missing values with the most repeated value in that column
for column_name,value in cars.iteritems():
    if column_name != "vichle_names":
        cars[column_name] = cars[column_name].fillna(cars[column_name].mode())

In [14]:
#Replace the NAN values with mean

#cars_filled = cars.fillna(cars.mean())
# Step 1: Identify columns to fill
columns_to_fill = [col for col in cars.columns if col != 'vichle_names']

# Step 2: Fill missing values
for column_name in columns_to_fill:
    # Fill missing values in each column with the mean of that column
    cars[column_name].fillna(cars[column_name].mean(), inplace=True)

In [ ]:
#Replace the NAN values with the most repeated value in that column

#cars_filled = cars.fillna(cars.mean())
# Step 1: Identify columns to fill
columns_to_fill = [col for col in cars.columns if col != 'vichle_names']

# Step 2: Fill missing values
for column_name in columns_to_fill:
    # Fill missing values in each column with the mean of that column
    cars[column_name].fillna(cars[column_name].mode(), inplace=True)

In [15]:
# object_name.groupby('Series_name')
# ♔┈♔┈♔┈( WHAT THIS DOES )┈♔┈♔┈♔
# To group a  DataFrame by its values in a particular column, call the .groupby() method off of the DataFrame, and then pass
# in the column Series you want the DataFrame to be grouped by.
cars_groups = cars.groupby(cars['cyl'])
cars_groups.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
# Save your data frame in CSV format
DF.to_CSV( r'E:\Lambton\CBD 2214_2 Big data Fundamental Data Storage Networking\week 1\mtcars_Rev1.csv')

# Draw plots

In [ ]:
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sb

%matplotlib inline

rcParams['figure.figsize'] = 5, 4
sb.set_style('whitegrid')

In [ ]:
# example

x = range(1,10)
y = [1,2,3,4,0,4,3,2,1]

plt.plot(x, y)

In [ ]:
# another type of chart
plt.bar(x, y)

In [ ]:
#Pie Charts
x = [1,2,3,4,0.5]
plt.pie(x)
plt.show()

In [ ]:
# lets draw a plot for the above data CARS dataset
mpg = cars['mpg']
mpg.plot()